{%extends "base.html"%}
{%block title%} Entradas para {{nombre_sitio}} | {%endblock%}
{%block content%}
	{%if object_list%}
	<table class="listTable">
	<thead>
		<tr>
			<th>T&iacute;tulo</th>
			<th>Autor</th>
		</tr>
	</thead>
	<tbody>
	{%for object in object_list%}
		{% if not forloop.counter|divisibleby:"2" %}
			<tr class="odd">
		{%else%}
			<tr>
		{%endif%}
			<td><a href="{{object.direccion}}">{{object.titulo}}</a></td>
			<td>{{object.autor|default:"No especificado"}}</td>
		</tr>
	{%endfor%}
	</tbody>
	</table>
	{%endif%}
	<br /><br />
	<a href="{{agregar_a}}">Agregar Nueva</a>	
{%endblock%}