body {
	font-family: "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans",
		Verdana, Arial, sans-serif;
	font-size: 12px;
}

#branding {
	background-color: #007BB4;
}

#content {
	width: 820px;
	float: right;
}

#mainContent p,#mainContent h1,#secondaryContent p,#secondaryContent h1,#secondaryContent li,#secondaryContent h3
	{
	padding-left: 20px;
	padding-right: 20px;
}

#mainContent {
	font-size: 24px;
	width: 620px;
	float: left;
}

#mainContent p{
	text-align:justify;
}

#secondaryContent {
	background-color: #5B80B2;
	font-size: 10px;
	width: 190px;
	height: 100%;
	float: right;
}

#secondaryContent ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
}
#mainNav {
	width: 200px;
	float: left;
	padding-top: 20px;
	padding-bottom: 20px;
}

#mainNav li {
	padding-left: 20px;
	padding-right: 20px;
}

#footer {	
	padding-top: 50px;
	text-align: center;
	clear: both;	
}

.warning{
	background-color: #FFE;
	width: 100%;
	border: 1px solid #FF0;
}

ul.mainNavMenu {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

ul.mainNavMenu a {
	display: block;
	width: 200px;
	height: 39px;
	line-height: 39px;
	color: #000;
	text-decoration: none;
	background: #94B8E9 url(/static/images/pixy-rollover.gif) left bottom;
	text-indent: 50px;
}

li.first a {
	height: 40px;
	line-height: 40px;
}

ul.mainNavMenu a:hover,.selected a {
	background-position: right bottom;
	color
	#fff;
}

#branding a {
	font-size: 30px;
	color: #000;
	text-decoration: none;
}

/*=Table layout*/
	/*The listTable is intended for tables that will show a list of objects, as in a table that shows stuff from the db*/
.listTable {
	border-collapse: collapse;
	border: 1px solid #666;
	empty-cells: show;
	width: 100%;
}

.listTable th,.listTable td {
	padding: 0.1em 1em;
}

.listTable caption {
	font-size: 1.2em;
	font-weight: bold;
	margin: 1em 0;
}

.listTable thead {
	background: #ccc url(/static/images/bar.gif) repeat-x left center;
	border-top: 1px solid #a5a5a5;
	border-bottom: 1px solid #a5a5a5;
}

.listTable th {
	font-weight: normal;
	text-align: center;
}

.listTable td {
	border-right: 1px solid #ccc;
}

.listTable tr:nth-child(odd) {
	background-color: #edf5ff;
}

/*For compatibility with browsers that don't support CSS3:*/
.odd {
	background-color: #edf5ff;
}

/*.listTable tr:hover {
	background-color: #336699;
	color: #fff;
}*/

.listTable thead tr:hover {
	background-color: transparent;
	color: inherit;
}

/*Para los forms*/
ul.errorlist {	
	margin:0;
	padding: 0;
}

.errorlist li {
	background-color: red;
	color: white;
	display: block;
	font-size: 10px;
	margin: 0 0 3px;
	padding: 4px 5px;
}



label{
	
	width: 10em;
}

a:link, a:visited {
	color:#5B80B2;
	text-decoration:none;
}