body{
	font-family:"Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
	font-size:12px;
}

#branding{
	background-color: #007BB4;
}

#content{
	width: 820px;
	float: right;
}

#mainContent p, #mainContent h1, #secondaryContent p, #secondaryContent h1, #secondaryContent li, #secondaryContent h3{
	padding-left: 20px;
	padding-right: 20px;
}

#mainContent{
	font-size: 24px;
	width: 320px;
	float: left;
}

#secondaryContent{
	background-color: #5B80B2;
	font-size: 10px;
	width: 180px;
	float: right;
}

#mainNav{
	width: 200px;
	float: left;
	padding-top: 20px;
	padding-bottom: 20px;
}

#mainNav li{
	padding-left: 20px;
	padding-right: 20px;
}

#footer{
	clear: both;
}




ul.mainNavMenu {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

ul.mainNavMenu a{
	display: block;
	width: 200px;
	height: 39px;
	line-height: 39px;
	color: #000;
	text-decoration: none;
	background: #94B8E9 url(/static/images/pixy-rollover.gif) left bottom;
	text-indent: 50px;
}

li.first a{
	height: 40px;
	line-height: 40px;
}

ul.mainNavMenu a:hover, .selected a{
	background-position:right bottom;
	color #fff;
}

#branding a{
	font-size: 30px;
	color: #000;
	text-decoration: none;
}
