<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
        <meta http-equiv="Content-Style-Type" content="text/css" />
                <meta name="description" content="Esta es una página de muestra para el barcamp  " />
        <title>{% block title %}{%if title%}{{title}} | {%endif%}{% endblock %}  Barcamp</title>

        <link rel="stylesheet" href="/static/css/base.css" type="text/css" media="screen" />
	<link rel="stylesheet" type="text/css" href="/media/css/forms.css" />
        {% block head %}
		{#las que hereden importarán aquí su contenido estático#}		
        {% endblock %}  
    </head>

<body>
<div id="wrapper">
	<div id="branding">
		<h1><a href="/">Django N&oacute;mada</a></h1>
		
	</div>
	
	<div id="content">
		<div id="mainContent">
		{% block content %}
			<h2>Parte 2: Unos meses después...</h2>
			<p><small></>Nuestra aplicación ha cambiado con el tiempo: usamos generic views donde se puede, 
			nuestro URLConf está lleno de expresiones regulares estrambóticas, usamos forms a partir de modelos, servimos datos estáticos...
			Pero, ¿qué pasa cuando nos tenemos que replantear cuestiones difíciles de diseño a medio camino? Como, por ejemplo, hacer cambios en
			el esquema de base de datos: poner o quitar campos, tablas, cambiar el tipo de los campos. Respecto a eso
			¿Qué tan mágico es django?</small></p>
			
			
		{%endblock%}
		</div>
		<div id="secondaryContent">
			<h3>Temas a tratar</h3>
			<ul>				
				<li>Migraciones</li>				
				<li>Vistas Genéricas y otras curiosidades</li>
			</ul>
			<h3>Información de contacto</h3>
			<ul>
				<li>luis.borjas@escolarea.com</li>
				<li>@lfborjas</li>
			</ul>
		</div>
	</div>
	<div id="mainNav">
		<ul class="mainNavMenu">	
			<li class="first"><a href="/blogs/">Blogs</a>
			<li><a href="/webcomics/">Webcomics</a>
		</ul>
	</div>

	<div id="footer">
		<div class="warning">
		<small>El código fuente de esta aplicación está disponible via git: <br /><code>git clone git://github.com/lfborjas/barcamp.git<code/></small>
		</div>	
	</div>
</div>
</body>

